<div>
	<h3><a href="/blog/entry/{{ current_entry.id }}"> {{ current_entry.Title }}</a></h3>
	<h4>{{ current_entry.Name }}님이 작성하신 글</h4>
	<ul>
		<li>카테고리 - {{ current_entry.Category.Title }}</li>
		<li>태그 - 
			{% for tag in current_entry.Tags.all %}
				<span>{{ tag.Title }}</span>&nbsp;
			{% endfor %}
		</li>
		<li>작성일 - {{ current_entry.created }}</li>
		<li>댓글수 - {{ current_entry.Comments }}</li>
	</ul>
	<div> {{ current_entry.Content }} </div>
</div>
<div>
	{% include 'comments.html' %}
	{% include 'comment_form.html' %}
</div>
<ul>
	{% if prev_entry %}
		<li><a href="/blog/entry/{{ prev_entry.id }}">이전 글</a></li>
	{% endif %}
	{% if next_entry %}
		<li><a href="/blog/entry/{{ next_entry.id }}">다음 글</a></li>
	{% endif %}
</ul>